[submodule "external/tlx"]
	path = external/tlx
	url = https://github.com/tlx/tlx.git
[submodule "external/essentials"]
	path = external/essentials
	url = https://github.com/jermp/essentials.git
[submodule "external/xxHash"]
	path = external/xxHash
	url = https://github.com/Cyan4973/xxHash.git
	branch = release
